/* Globalne style */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex-direction: column;
    padding-top: 60px;
    transition: background-color 0.3s ease;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Toolbar */
.toolbar {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.toolbar button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
}

.toolbar button:hover {
    background-color: #2980b9;
}

/* Edytowalna zawartość */
.editable-area {
    margin-top: 80px; /* Adjust for the toolbar */
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.editable-box {
    text-align: center;
    padding: 50px 20px;
    background-color: #e2e8f0;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Modal */
.modal {
    display: none; /* Domyślnie ukryty */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    width: 400px;
    max-width: 90%;
}

.modal.active {
    display: block;
}

.modal-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-footer {
    text-align: right;
}

.modal-footer button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
}

.modal-footer button:hover {
    background-color: #2980b9;
}

/* Styl dla formularzy edycji */
.text-edit-form input, .text-edit-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Style dla edycji obrazu */
.image-edit-form input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}
